.outerContainer{
    .headerContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom:1.5px solid #B0B0B0;
        .add{
            cursor:pointer;
        }
    }
    .bodyContainer{
        width: 100%;
        overflow-x: auto;
        table{
            width: 100%;
            margin-top: 20px;
        }
    }
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: min-content;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.mat-row,
.mat-header-row {
    display: table-row;
}