<div *ngIf="!loading" class="outerContainer">
    <div class="headerContainer">
      <h1>Actualizar estación</h1>
    </div>
    <div [formGroup]="updateStationForm" class="bodyContainer">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Latitud</mat-label>
          <input formControlName="latitud" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Longitud</mat-label>
          <input formControlName="longitud" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="idDepartamento">
              <mat-option *ngFor="let op of departamentos" [value]="op.uid">
                {{ op.nombre }}
              </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field  appearance="outline">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="idCiudad" [disabled]="!updateStationForm.value.idDepartamento">
              <mat-option *ngFor="let op of ciudades" [value]="op.uid">
                {{ op.nombre }}
              </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Topic</mat-label>
        <input formControlName="topic" matInput />
      </mat-form-field>
      
      <button class="sendButton" (click)="updateStation()" mat-flat-button color="primary">Enviar</button>
    </div>
  </div>
  
  <!-- "nombre":"Rio Suarez",
      "estado":"Operando",
      "topic":"ESP8662-8",
      "latitud":"6.904887",
      "longitud":"-73.001425",
      "idCiudad":"6258d916bee20ef9628d519f" -->
  
