@font-face {
    font-family: "Oxygen";
    src: local('Sansita One'), url(/assets/fonts/Oxygen-Light.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Oxygen";
    src: local('Sansita One'), url(/assets/fonts/Oxygen-Regular.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Oxygen";
    src: local('Sansita One'), url(/assets/fonts/Oxygen-Bold.ttf) format('truetype');
    font-weight: 600;
}

@font-face{
    font-family: "Arista";
    src: local("Arista"), url(/assets/fonts/Arista-Pro-Bold-trial.ttf) format('truetype');
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6{
    font-family: Oxygen, Roboto !important;
}

h1{
    font-size: 32px ;
    font-weight: 600 !important;
}

h2{
    font-size: 28px ;
    font-weight: 600 !important;
}

h3{
    font-size: 24px ;
    font-weight: 500 !important;
}

h4{
    font-size: 20px ;
    font-weight: 500 !important;
}

h5{
    font-size: 16px ;
    font-weight: 400 !important;
}

h6{
    font-size: 12px ;
    font-weight: 400!important;
}