<mat-toolbar color="primary">
  <span>Usuarios</span>
  <span class="example-spacer"></span>


  <button mat-icon-button>
    <mat-icon>help_outline</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="Logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      Sign out
    </button>
  </mat-menu>

</mat-toolbar>
