<div class="outerContainer">
    <div class="headerContainer">
        <h1>Estaciones</h1>
        <mat-icon (click)="openDialog()" class="add">add</mat-icon>
    </div>
    <div class="bodyContainer">
        <!-- <table mat-table [dataSource]="dataSource" class="">

          
          
           
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element;let i as index">{{i}}</td>
            </ng-container>
          
            
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Latitud </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Longitud </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>

              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Departamento </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->
          
          
    </div>
</div>
