
.head{
  width: 49%;
}
.center{
  width: 32%;
}
.foot{
  width: 74%;
}

.sub{
  width: 24%;
}

.head,.center,.foot,.sub{
  display: inline-block;
  padding: 0.3%;
}

@media screen and (max-width: 768px) {
  .head,
  .center,
  .foot{
    width: 100%;
  }
}

