:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 20%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}


@media screen and (max-width: 768px) {
  mat-drawer {
    width: 32%;
  }
}

.sidevar{
  background-image:url("../../assets/Imgs/sidevar.svg") ;
  background-size:cover;
}
