:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

h2,h4{
  color: #fff!important;
  font-weight: bold!important;
}

a{
  color: #fff!important;
}

mat-divider {
  border-top-color: rgba(51, 255, 255, 0.1)!important;
}


