<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>{{nombre}}</h2>
          <h4>{{correo}}</h4>
      </div>
      <img src="./assets/Imgs/icono.png">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Paginas</h2>

  <a mat-list-item [routerLink]="['/dashboard']"  >Dashboard</a>
  <a mat-list-item [routerLink]="['/dashboard/usuarios']"  color="secundary">Usuarios</a>
  <a mat-list-item [routerLink]="['/dashboard/reportes']"  color="secundary">Reportes</a>

  <mat-divider></mat-divider>
<!--
  <h2 matSubheader>Herramientas</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>import_contacts</mat-icon>
      Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>contact_phone</mat-icon>
      Leads
  </a>
-->

</mat-nav-list>
