
<!-- LotusZaheer Cards -->
<div class="center">
  <div *ngFor="let i of StationList" class="card">
    <div class="additional">
      <div class="user-card">
        <br>
        <br>
        <img width="110" height="110" role="img" aria-labelledby="title desc" class="center"
          src="/assets/Imgs/estacion.svg" />
        <div class="points center">
          Tipo de placa : {{(i.topic).slice(0, (i.topic).lastIndexOf("-"))}}
        </div>
        <div class="level center">
          Ultima actualización
        </div>
        <div class="points center">
          {{_datosFec(i.uid) | date:'yyyy-MM-dd'}}
        </div>
        <div class="points center">
          {{_datosFec(i.uid) | date:'HH:mm:ss'}}
        </div>

      </div>
      <div class="more-info">
        <google-map width="auto" height="250px" [center]="_position(i.uid)" [zoom]="11">
          <map-marker [position]="_position(i.uid)" [label]="i.nombre" [title]="title"></map-marker>
        </google-map>
      </div>
    </div>
    <div class="general">
      <br>
      <h1>{{i.nombre}}</h1>
      <p>
        Humedad: {{_datosHumedad(i.uid)}} %
        <br>
        Temperatura: {{_datosTemp(i.uid)}}°C
        <br>
        Nivel Cauce: {{_datosNivCau(i.uid)}} m
        <br>
        Precipitaciones: {{_datosPrec(i.uid)}} cm/h
        <br>
        Velocidad del Cauce: {{_datosVelCau(i.uid)}} m/s
      </p>
      <span class="more">Mueve el mouse para acceder a la ubicación</span>
    </div>
  </div>

</div>

